.overlay {
  height: 100%;
  position: fixed;
  z-index: 450;
  left: 0;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  width: 0;
}

.active-nav {
  width: 250px;
}

.overlay-content {
  padding: 0px 60px 0px 30px;
  position: relative;
  top: 25%;
  width: 100%;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
  cursor: pointer;
}
