:root {
  --background-color: #1B1B1B;
  --background-secondary-color: rgba(119, 119, 105, 0.5);
  --primary-color: rgb(241, 200, 53);
  --primary-dark-color: rgb(34, 33, 36);
  --primary-light-color: rgba(255, 231, 142, 0.746);
  --secondary-color: #8f5cc0;
  --secondary-dark-color: #3B0C69;
  --secondary-light-color: #7B4AA9;
  --warning-color: #f04a18;
  --text-color: #C4C4C4;
}



body {
  background-color: var(--background-color);
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




input {
  background: var(--text-color);
  color: var(--background-color);
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  min-width: 5rem;
  font-weight: 500;
}

em {
  font-weight: 700;
  color: var(--primary-color);
}

button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  min-width: 5rem;
  font-weight: 500;
}

.primary {
  background: var(--primary-color);
}

.secondary {
  background: var(--secondary-color);
}

.warning {
  background: var(--warning-color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}